<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card">
      <div class="card-header">
        <h4>Add or update todo</h4>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="saveTodo()">
          <div class="alert alert-danger" *ngIf="error">{{error}}</div>
          <div class="form-group">
            <label for="desc">Todo Description</label>
            <input type="text" id="desc" [(ngModel)]="todo.description" name="description" #description="ngModel" class="form-control" placeholder="Enter todo description" required>
            <label class="text-danger" *ngIf="description.invalid && description.touched">Todo description can not be empty</label>
          </div>
          <div class="form-group">
            <label for="date">Completion Date</label>
            <input type="date" id="date" [ngModel]="todo.date | date:'yyyy-MM-dd'" (ngModelChange)="todo.date = $event" name="date" #date="ngModel" class="form-control" placeholder="Enter todo completion date" required>
            <label class="text-danger" *ngIf="date.touched && date.invalid">Todo date can not be empty</label>
          </div>
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>