<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card">
      <div class="card-header">
        <h4>Login to your account</h4>
      </div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Enter password">
          </div>
          <input type="submit" class="btn btn-primary" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>